bs4
Django
django_heroku
nltk
PyPDF2
requests
scikit-learn
whitenoise
gunicorn
django-heroku
pymongo[snappy,gssapi,srv,tls]
mongoengine
dnspython
djongo
pre-commit
python-dotenv
asyncio
aiohttp
celery
redis
celerybeat-mongo
django_celery_results
channels==3.0.3
channels-redis==3.3.0
daphne==3.0.2
