bs4
Django
django-cors-headers
djangorestframework
nltk
PyPDF2
requests
scikit-learn
whitenoise
gunicorn
django-heroku
pymongo[snappy,gssapi,srv,tls]
mongoengine
dnspython
djongo
pre-commit
python-decouple
dotenv